{% load static %}

{% include "head.html" %}



<!--Navbar-->
{% include 'nav.html' %}

<!--main container start-->

<div class="main-container " style="padding-top: 100px;">
    <div class="about">
        <h1>About Us <!--<hr class="hr"> --> </h1>
        <hr class="about-hr" style="color:rgb(73, 71, 71);">
        {% for row in about_page_field %}
        <div class="container text-center pb-5">
            <div class="row pt-5  ">
                <div class="col-8 ">
                    <img src="/{{ row.image }}" style="width: 95%; height:100%;" alt="aboutimg">
                </div>
                <div class="col-4 text-start">
                  <small>{{ row.para1 }}</small><br><br>
                  <small> {{ row.para2 }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
        <label>
           <h2 style="font-weight: 900;"> Meet the Team</h2>
        </label>
        
        <div class="container text-center mt-5 pb-5  ">
            <div class="row ">
                {% for row in team %}
                <div class="col-4">
                    <img width="280px" height="400px" style="padding-bottom: 40px;" src="/{{ row.image }}"><br>
                    <h4 style="color: black;">{{ row.name }}</h4>
                    <small>{{ row.description }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>




  <!--footer-->


  {% include 'footer.html' %}




  </body>