#signup h2,h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .signup-btn{
    padding: 10px 20px 10px;
    color: white;
    background-color: rgb(36, 30, 26);
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
    margin: 10px 420px ;
  }
  
  #signup1 input{
   border: none;
   border-bottom: 2px solid black;
   border-radius: 0px;
  }
  
  #signup1 input:hover{
    border: 2px dotted rgb(26, 22, 22);
  }

